@charset "UTF-8";
html {
  font-size: 62.5%; }

body .owl-theme .owl-dots, body .owl-theme .owl-nav {
  text-align: left; }
body .owl-theme .owl-dots .owl-dot span {
  width: 25px;
  height: 2px;
  background-color: #aaaaaa;
  -webkit-backface-visibility: visible; }
body .owl-theme .owl-dots .owl-dot.active span, body .owl-theme .owl-dots span {
  background: #9d1a2d; }
body ul li {
  list-style: none;
  margin: 0; }
@media (max-width: 550px) {
  body .containe {
    width: 70%; }
    body .containe .pc {
      display: none; } }
@media (min-width: 551px) {
  body .container {
    width: 90%; }
    body .container .sp {
      display: none; } }

#header_in {
  margin-top: 35px; }
  #header_in h1 {
    margin-bottom: 0; }
    #header_in h1 a {
      display: block; }
  #header_in .pc_navi {
    display: flex;
    margin-top: 20px; }
    #header_in .pc_navi .pc_navi_li {
      display: flex;
      margin-right: 10px;
      margin-bottom: 0;
      margin-left: auto; }
      #header_in .pc_navi .pc_navi_li li {
        margin-right: 10px; }
        #header_in .pc_navi .pc_navi_li li:last-child {
          margin-right: 0; }
        #header_in .pc_navi .pc_navi_li li a {
          display: block; }
    #header_in .pc_navi .sns_icon {
      display: flex;
      margin-right: 20px; }
      #header_in .pc_navi .sns_icon .icon_fb {
        margin-right: 10px; }

@media (max-width: 550px) {
  #header_in {
    margin-top: 15px; }
    #header_in .pc {
      display: none; }
    #header_in h1 {
      text-align: center; }
    #header_in .navi_list {
      display: flex;
      justify-content: center;
      margin-top: 13px;
      position: static; }
      #header_in .navi_list li {
        margin-right: 10px; }
        #header_in .navi_list li:last-child {
          margin-right: 0; }
    #header_in .sp_navi_li {
      display: none;
      z-index: 1;
      position: absolute;
      right: 100px;
      top: 90px;
      width: 180px;
      background-color: white;
      margin: 0; }
      #header_in .sp_navi_li li {
        padding: 12px;
        border-bottom: 1px solid #887f69; }
        #header_in .sp_navi_li li:last-child {
          border-bottom: none; }
        #header_in .sp_navi_li li a {
          text-decoration: none;
          color: #887f69;
          display: block; }
          #header_in .sp_navi_li li a:hover {
            color: black; } }
#main .banner {
  margin: 0;
  padding: 0; }
  #main .banner img {
    display: block;
    width: 100%; }
#main .new_items, #main .popular_items {
  margin-top: 20px; }
  #main .new_items .title, #main .popular_items .title {
    margin-bottom: 10px; }
  #main .new_items .item-list, #main .popular_items .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px; }
    #main .new_items .item-list li, #main .popular_items .item-list li {
      width: calc( ( 100% - 4px) / 3);
      background-color: white;
      margin-bottom: 2px;
      padding-bottom: 10px; }
      #main .new_items .item-list li img, #main .popular_items .item-list li img {
        padding: 13px 13px 9px;
        width: 100%; }
      #main .new_items .item-list li p, #main .popular_items .item-list li p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 3px;
        padding: 0 15px; }
      #main .new_items .item-list li span, #main .popular_items .item-list li span {
        font-size: 12px;
        font-size: 1.2rem;
        padding: 0 15px;
        letter-spacing: 0.08rem; }

@media (max-width: 550px) {
  #main {
    padding: 0 10px; }
    #main .new_items .title, #main .popular_items .title {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px; }
    #main .new_items .pc, #main .popular_items .pc {
      display: none; }
    #main .new_items .item-list, #main .popular_items .item-list {
      width: 100%; }
      #main .new_items .item-list li, #main .popular_items .item-list li {
        width: calc( ( 100% - 2px) / 2); } }
.guide {
  margin-top: 20px; }
  .guide .title {
    margin-bottom: 10px; }
  .guide .guide_body {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    .guide .guide_body .sendo, .guide .guide_body .pay {
      background-color: white;
      width: calc( (100% - 5px) / 2); }
      .guide .guide_body .sendo h5, .guide .guide_body .pay h5 {
        color: #887f69;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 15px 0px 5px 20px; }
      .guide .guide_body .sendo dl, .guide .guide_body .pay dl {
        margin-left: 20px; }
        .guide .guide_body .sendo dl dt, .guide .guide_body .pay dl dt {
          font-size: 12px;
          font-size: 1.2rem;
          color: #887f69;
          margin-bottom: 3px;
          font-weight: bold; }
        .guide .guide_body .sendo dl dd, .guide .guide_body .pay dl dd {
          font-size: 12px;
          font-size: 1.2rem;
          margin: 0 0 3px 0; }
          .guide .guide_body .sendo dl dd img, .guide .guide_body .pay dl dd img {
            display: block; }
  @media (max-width: 550px) {
    .guide .title {
      display: block;
      margin: 15px auto; }
    .guide .pc {
      display: none; }
    .guide .guide_body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .guide .guide_body .sendo, .guide .guide_body .pay {
        width: 100%;
        margin-bottom: 5px; }
        .guide .guide_body .sendo h5, .guide .guide_body .pay h5 {
          font-size: 16px;
          font-size: 1.6rem; } }

#sidebar_area {
  margin-left: 2%; }
  #sidebar_area .search_area {
    background-color: white;
    padding: 10px; }
    #sidebar_area .search_area .serch_title {
      margin-left: 3px; }
    #sidebar_area .search_area .search_into {
      position: relative;
      border-radius: 0px; }
      #sidebar_area .search_area .search_into .serach_input {
        background-color: #D8D8D8;
        width: 100%; }
        #sidebar_area .search_area .search_into .serach_input placeholder {
          color: #b5b5b5;
          font-size: 11px;
          font-size: 1.1rem;
          font-style: italic;
          opacity: 0.5; }
    #sidebar_area .search_area .serch_icon {
      position: absolute;
      right: 6%;
      top: 20%; }
  #sidebar_area .page_link .titles, #sidebar_area .categories .titles {
    display: flex;
    justify-content: space-between;
    background-color: #887f69;
    align-items: center;
    height: 14px;
    margin-bottom: 10px;
    padding: 15px 10px; }
    #sidebar_area .page_link .titles img, #sidebar_area .categories .titles img {
      max-width: 100%;
      display: block; }
  #sidebar_area .page_link .last, #sidebar_area .categories .last {
    margin-bottom: 0; }
  #sidebar_area .categories_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid #e2ddd4;
    padding: 5px 10px;
    background-color: white; }
    #sidebar_area .categories_list li:last-child {
      border-bottom: none; }
    #sidebar_area .categories_list li p {
      margin-bottom: 0;
      font-size: 12px;
      font-size: 1.2rem; }
    #sidebar_area .categories_list li img {
      display: block;
      height: 14px; }
  #sidebar_area .about_area, #sidebar_area .shop_info_area {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
    padding-bottom: 10px; }
    #sidebar_area .about_area .about_title, #sidebar_area .about_area .info_title, #sidebar_area .shop_info_area .about_title, #sidebar_area .shop_info_area .info_title {
      background-color: #887f69;
      height: 45px; }
      #sidebar_area .about_area .about_title img, #sidebar_area .about_area .info_title img, #sidebar_area .shop_info_area .about_title img, #sidebar_area .shop_info_area .info_title img {
        margin: 19px 12px 13px 15px; }
    #sidebar_area .about_area .about_body, #sidebar_area .shop_info_area .about_body {
      font-size: 12px;
      font-size: 1.2rem;
      padding: 10px; }
      #sidebar_area .about_area .about_body img, #sidebar_area .shop_info_area .about_body img {
        display: block;
        width: 100%; }
      #sidebar_area .about_area .about_body p, #sidebar_area .shop_info_area .about_body p {
        margin: 10px 0;
        padding: 3px 0; }
    #sidebar_area .about_area .btn, #sidebar_area .shop_info_area .btn {
      background-color: #887F68;
      width: 40%;
      border-radius: 12px;
      margin: 0 auto;
      text-align: center;
      color: white;
      padding: 5px; }
      #sidebar_area .about_area .btn p, #sidebar_area .shop_info_area .btn p {
        margin: 0;
        font-size: 12px;
        font-size: 1.2rem; }
  @media (max-width: 550px) {
    #sidebar_area {
      margin: 0; }
      #sidebar_area .about_area .about_body, #sidebar_area .shop_info_area .about_body {
        display: flex;
        justify-content: space-around; }
        #sidebar_area .about_area .about_body img, #sidebar_area .shop_info_area .about_body img {
          width: 50%; }
        #sidebar_area .about_area .about_body p, #sidebar_area .shop_info_area .about_body p {
          margin: 5px 2px;
          font-size: 12px;
          font-size: 1.2rem; }
      #sidebar_area .about_area .btn, #sidebar_area .shop_info_area .btn {
        width: 30%;
        margin: 0;
        margin-left: auto;
        margin-right: 20px; } }

footer .scroll-btn {
  width: 70%;
  margin: 0 auto; }
  footer .scroll-btn img {
    display: block;
    margin-left: auto; }
footer p {
  text-align: center;
  font-size: 12px;
  font-size: 1.2rem;
  margin: 25px 0;
  letter-spacing: 2px; }
footer .copy {
  display: block;
  font-size: 10px;
  font-size: 1rem;
  color: #b8b4ac;
  text-align: center;
  letter-spacing: 0.2rem; }
@media (max-width: 550px) {
  footer {
    padding-bottom: 20px; }
    footer .containe {
      margin: auto; }
      footer .containe .scroll-btn img {
        margin: 0 auto; }
      footer .containe p {
        font-size: 11px;
        font-size: 1.1rem; }
      footer .containe .copy {
        letter-spacing: 0; } }

.breadcrumb_area {
  background-color: #e8e4da;
  padding: 8px;
  border-radius: 2px;
  margin-bottom: 10px; }
  .breadcrumb_area .breadcrumb {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 11px;
    font-size: 1.1rem; }
  .breadcrumb_area .breadcrumb li {
    display: inline;
    /*横に並ぶように*/
    list-style: none; }
  .breadcrumb_area .breadcrumb li:after {
    /* ▶を表示*/
    content: '/';
    padding: 0 3px;
    color: silver; }
  .breadcrumb_area .breadcrumb li:last-child:after {
    content: ''; }
  .breadcrumb_area .breadcrumb li a {
    text-decoration: none;
    color: #888; }
  .breadcrumb_area .breadcrumb li:first-child a:before {
    /*家アイコン*/
    font-family: FontAwesome;
    content: '\f015';
    font-weight: normal;
    font-size: 1.1em;
    color: #887f69; }
  .breadcrumb_area .breadcrumb li a:hover {
    text-decoration: underline; }

.category_list .category_lists {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0px; }
  .category_list .category_lists li {
    width: calc( ( 100% - 4px) / 3);
    background-color: white;
    margin-bottom: 2px;
    padding-bottom: 10px; }
    .category_list .category_lists li img {
      padding: 13px 13px 9px;
      width: 100%; }
    .category_list .category_lists li p {
      font-size: 12px;
      font-size: 1.2rem;
      margin-bottom: 3px;
      padding: 0 15px; }
    .category_list .category_lists li span {
      padding: 0 15px;
      letter-spacing: 0.08rem;
      background-color: white; }
.category_list .page_btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px; }
  .category_list .page_btn span {
    width: 120px;
    line-height: 40px;
    background-color: #887f69;
    text-align: center;
    color: white;
    letter-spacing: 0.2rem;
    font-size: 14px;
    font-size: 1.4rem; }

.recently_items {
  margin-top: 20px; }
  .recently_items .recently-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px; }
    .recently_items .recently-list li {
      width: calc( ( 100% - 4px) / 3);
      background-color: white;
      margin-bottom: 2px;
      padding-bottom: 10px; }
      .recently_items .recently-list li img {
        padding: 13px 13px 9px;
        width: 100%; }
      .recently_items .recently-list li p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 3px;
        padding: 0 15px; }
      .recently_items .recently-list li span {
        padding: 0 15px;
        letter-spacing: 0.08rem;
        background-color: white; }

@media (max-width: 550px) {
  .category_banner .pc {
    display: none; }

  .category_list .category_lists {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px; }
    .category_list .category_lists li {
      width: calc( ( 100% - 2px) / 2);
      background-color: white;
      margin-bottom: 2px;
      padding-bottom: 10px; }
      .category_list .category_lists li img {
        padding: 13px 13px 9px;
        width: 100%; }
      .category_list .category_lists li p {
        font-size: 11px;
        font-size: 1.1rem;
        margin-bottom: 3px;
        padding: 0 15px; }
      .category_list .category_lists li span {
        padding: 0 15px;
        letter-spacing: 0.08rem;
        background-color: white;
        font-size: 11px;
        font-size: 1.1rem; }
  .category_list .page_btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px; }
    .category_list .page_btn span {
      width: 120px;
      line-height: 40px;
      background-color: #887f69;
      text-align: center;
      color: white;
      letter-spacing: 0.2rem;
      font-size: 14px;
      font-size: 1.4rem; }

  .recently_items .sp {
    display: block;
    margin: 10px auto 20px; }
  .recently_items .pc {
    display: none; }
  .recently_items .recently-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px; }
    .recently_items .recently-list li {
      width: calc( ( 100% - 2px) / 2);
      background-color: white;
      margin-bottom: 2px;
      padding-bottom: 10px; }
      .recently_items .recently-list li img {
        padding: 13px 13px 9px;
        width: 100%; }
      .recently_items .recently-list li p {
        font-size: 11px;
        font-size: 1.1rem;
        margin-bottom: 3px;
        padding: 0 15px; }
      .recently_items .recently-list li span {
        padding: 0 15px;
        letter-spacing: 0.08rem;
        background-color: white; } }
.product_wrapper {
  background-color: white;
  padding: 40px 40px 80px 40px; }
  .product_wrapper h3 {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold; }
  .product_wrapper p {
    font-size: 10px;
    font-size: 1rem;
    color: #b0b0b0;
    margin-bottom: 25px; }
  .product_wrapper .product_img_wrapper {
    display: flex;
    border-top: 1px solid #e2ddd4;
    border-bottom: 1px solid #e2ddd4;
    padding: 20px 0; }
    .product_wrapper .product_img_wrapper #product_main_img {
      flex: 5 5 40px;
      width: 70%; }
      .product_wrapper .product_img_wrapper #product_main_img img {
        width: 100%; }
    .product_wrapper .product_img_wrapper .product_lists {
      flex: 2 2 10px;
      width: 30%; }
      .product_wrapper .product_img_wrapper .product_lists ul {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-left: 3px;
        margin-bottom: 0; }
        .product_wrapper .product_img_wrapper .product_lists ul li {
          width: calc( ( 100% - 2px) / 2); }
          .product_wrapper .product_img_wrapper .product_lists ul li img {
            width: 100%; }
  .product_wrapper .table_area img {
    display: block;
    margin: 20px 0; }
  .product_wrapper .table_area table {
    table-layout: fixed;
    background-color: #f9f9f5;
    border: 1px solid #e2ddd4;
    width: 100%;
    margin: 10px 0;
    color: #b0b0b0; }
    .product_wrapper .table_area table th {
      text-align: center;
      border-right: 1px solid #e2ddd4; }
    .product_wrapper .table_area table td {
      text-align: center;
      border-right: 1px solid #e2ddd4; }
    .product_wrapper .table_area table .null {
      background-color: white; }
  .product_wrapper .priceare {
    width: 100%; }
    .product_wrapper .priceare table {
      width: 100%; }
      .product_wrapper .priceare table td i {
        font-size: 22px;
        font-size: 2.2rem;
        color: #e80f66; }
        .product_wrapper .priceare table td i span {
          font-size: 14px;
          font-size: 1.4rem;
          margin-left: 3px;
          color: black; }
      .product_wrapper .priceare table .qunatity_input {
        border: 1px solid #e8e4da;
        border-radius: 0; }
    .product_wrapper .priceare .cart_img img {
      display: block;
      margin-left: auto; }
  .product_wrapper .qunatity {
    width: 100%; }
  .product_wrapper .product_details h3 {
    font-size: 16px;
    font-size: 1.6rem;
    color: #887f69;
    border-bottom: 1px solid #e8e4da;
    padding-bottom: 10px; }
  .product_wrapper .product_details h6 {
    font-size: 16px;
    font-size: 1.6rem;
    color: #887f69; }
    .product_wrapper .product_details h6 span {
      font-size: 24px;
      font-size: 2.4rem; }
  .product_wrapper .product_details p {
    font-size: 14px;
    font-size: 1.4rem;
    color: #000000; }
  .product_wrapper .product_details table {
    width: 100%;
    border: 1px solid #887f69;
    margin: 0; }
    .product_wrapper .product_details table tr th {
      border: 1px solid #e8e4da;
      color: #887f69;
      font-size: 12px;
      font-size: 1.2rem;
      padding: 0;
      text-align: center;
      width: 30%;
      background-color: #f9f9f5; }
    .product_wrapper .product_details table tr td {
      border: 1px solid #e8e4da;
      color: #887f69;
      font-size: 12px;
      font-size: 1.2rem; }

@media (max-width: 550px) {
  .product_wrapper {
    padding: 12px; }
    .product_wrapper .product_title h3 {
      margin-bottom: 10px; }
    .product_wrapper .product_title p {
      margin-bottom: 10px; }
    .product_wrapper .product_img_wrapper {
      flex-flow: column; }
      .product_wrapper .product_img_wrapper #product_main_img {
        width: 100%; }
      .product_wrapper .product_img_wrapper .product_lists {
        width: 100%; }
        .product_wrapper .product_img_wrapper .product_lists .product_lists_li li {
          width: calc( ( 100% - 1px) / 5); }

  .priceare {
    padding: 0; }
    .priceare table th {
      padding: 0;
      width: 50%; }
    .priceare table td .qunatity_input {
      padding: 0;
      margin: 0; }
    .priceare .cart_img img {
      display: block;
      margin: 0 auto 20px; } }

/*# sourceMappingURL=style.css.map */
